<h1>Listing tasks</h1>

<%= form_tag tasks_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Due at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.due_at %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<h2>Tasks Due Soon</h2>
<ul>
<% @tasks_near_due.each do |task| %>
  <li><%= task.name %></li><%= task.due_at %>
<% end %>
</ul>

<h2>Incomplete Tasks</h2>
<%= form_tag complete_tasks_path, :method => :put do %>
  <ul>
    <% @incomplete_tasks.each do |task| %>
      <li>
        <%= check_box_tag "task_ids[]", task.id %>
        <%= task.name %>
      </li>
    <% end %>
  </ul>
  <%= submit_tag "Mark as Complete" %>
<% end %>

<h2>Completed Tasks</h2>

<% @complete_tasks.each do |task| %>
<ul>
  <li><%= task.name %></li>
</ul>
<% end %>
<br />

<%= link_to 'New Task', new_task_path %>