<% title "Orders" %>

<table>
  <tr>
    <th>Cart</th>
    <th>Ip Address</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Card Type</th>
    <th>Card Expires On</th>
  </tr>
  <% for order in @orders %>
    <tr>
      <td><%= order.cart_id %></td>
      <td><%= order.ip_address %></td>
      <td><%= order.first_name %></td>
      <td><%= order.last_name %></td>
      <td><%= order.card_type %></td>
      <td><%= order.card_expires_on %></td>
      <td><%= link_to "Show", order %></td>
      <td><%= link_to "Edit", edit_order_path(order) %></td>
      <td><%= link_to "Destroy", order, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Order", new_order_path %></p>
