<% title "Listing products" %>

<!--
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.price %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
-->
<div id="products">
  <% @products.each do |product| %>
    <div class="product">
      <div class="side">
        <div class="number">
          #<%= product.id %>
        </div>
        <div calss="">
          <%= product.created_at.strftime('%b %d')%>
        </div>
        <div class="actions">
          <% if admin? %>
          <%= link_to 'Edit', edit_product_path(product) %><br/>
          <%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %>
          <% end %>
        </div>
      </div>
      <div class="main">
        <div class="product">
            <%= link_to product.name, product %><br/>
            <%= number_to_currency(product.price) %>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  <% end %>
  <!--
  <ul>
  <% @products.each do |product| %>
    <li><strong><%= product.name %></strong> <%= product.created_at.to_s(:short) %></li>
  <% end %>
  </ul>
  -->
<br />
<% if admin? %>
  <%= link_to 'New Product', new_product_path %>
<% end %>
