<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="top_links_container">
      <%= link_to "Home", root_path %>|
      <%= link_to "Projects", :projects %>|
      <%= link_to "Tasks", :tasks %>|
      <%= link_to "letters", :letters %>|
      <%= link_to "Products", :products %>|
      <%= link_to "Cart", current_cart_path %>
      <% if admin? %>
        <%= link_to "logout", :logout %>
      <% else %>
      <%= link_to "login", :login %>
      <% end %>
|<%= session[:cart_id] %>|
    </div>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>

      <%= yield %>
    <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
